espol.sd.winserv/espol.sd.winserv/Web References/ServicioDB/ServicioDB2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/espol.sd.db" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/espol.sd.db" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RespuestaMetodoTop10Gifs">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoRetorno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Imagenes" nillable="true" type="tns:ArrayOfGifImage" />
      <xs:element minOccurs="0" name="MensajeRetorno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaMetodoTop10Gifs" nillable="true" type="tns:RespuestaMetodoTop10Gifs" />
  <xs:complexType name="ArrayOfGifImage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GifImage" nillable="true" type="tns:GifImage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGifImage" nillable="true" type="tns:ArrayOfGifImage" />
  <xs:complexType name="GifImage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Imagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumAccesos" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GifImage" nillable="true" type="tns:GifImage" />
</xs:schema>