espol.sd.silohost/espol.sd.silohost/espol.sd.silohost/Web References/ServicioDB/ServicioDB1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1832/ServicioDB.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:1832/ServicioDB.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/espol.sd.db" />
  <xs:element name="SaveGifs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveGifsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SaveGifsResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportGifs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportGifsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ImportGifsResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetAccesosGifs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetAccesosGifsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ResetAccesosGifsResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTop10GifsDBId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTop10GifsDBIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/espol.sd.db" minOccurs="0" name="SelectTop10GifsDBIdResult" nillable="true" type="q4:RespuestaMetodoTop10Gifs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTop10GifsDB">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTop10GifsDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/espol.sd.db" minOccurs="0" name="SelectTop10GifsDBResult" nillable="true" type="q5:RespuestaMetodoTop10Gifs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTop10GifsCache">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTop10GifsCacheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/espol.sd.db" minOccurs="0" name="SelectTop10GifsCacheResult" nillable="true" type="q6:RespuestaMetodoTop10Gifs" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimularAccesoGifs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NumeroClientes" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SimularAccesoGifsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SimularAccesoGifsResult" nillable="true" type="q7:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>